@model devOpsProject2.Models.CD

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artists)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artists)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalTracks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalTracks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
